*{
  background-color:rgb(31,31,31);
  color:white;
  font-family: Sora, Verdana;
}

h1{
  text-align: center;
  font-size:100px;
  margin-top:250px;
  font-family: "Michroma", "Sora", "Verdana";
}

.error-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

a{
  color:rgb(120, 80, 244);
}

@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

